.designbase-toast-container {
    position: fixed;
    z-index: var(--db-z-toast);
    pointer-events: none;
    display: flex;
    flex-direction: column;

    &--top-right {
        top: var(--db-padding-m);
        right: var(--db-padding-m);
        align-items: flex-end;
    }

    &--top-center {
        top: var(--db-padding-m);
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
    }

    &--bottom-center {
        bottom: var(--db-padding-m);
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        flex-direction: column-reverse;
    }

    &--bottom-right {
        bottom: var(--db-padding-m);
        right: var(--db-padding-m);
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    .designbase-toast {
        pointer-events: auto;
        margin-bottom: var(--db-margin-s);

        &:last-child {
            margin-bottom: 0;
        }
    }

    // 모바일에서 중앙 정렬
    @media (max-width: 768px) {

        &--top-right,
        &--bottom-right {
            left: var(--db-padding-s);
            right: var(--db-padding-s);
            transform: none;
        }

        &--top-center,
        &--bottom-center {
            left: var(--db-padding-s);
            right: var(--db-padding-s);
            transform: none;
        }
    }
}