.designbase-toast-container {
    position: fixed;
    z-index: var(--db-z-toast);
    pointer-events: none;

    &--top-left {
        top: var(--db-spacing-4);
        left: var(--db-spacing-4);
    }

    &--top-center {
        top: var(--db-spacing-4);
        left: 50%;
        transform: translateX(-50%);
    }

    &--top-right {
        top: var(--db-spacing-4);
        right: var(--db-spacing-4);
    }

    &--bottom-left {
        bottom: var(--db-spacing-4);
        left: var(--db-spacing-4);
    }

    &--bottom-center {
        bottom: var(--db-spacing-4);
        left: 50%;
        transform: translateX(-50%);
    }

    &--bottom-right {
        bottom: var(--db-spacing-4);
        right: var(--db-spacing-4);
    }

    .designbase-toast {
        pointer-events: auto;
        margin-bottom: var(--db-margin-s);

        &:last-child {
            margin-bottom: 0;
        }
    }
}