.designbase-input {
    display: flex;
    flex-direction: column;
    gap: var(--db-gap-xs);


    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__field {
        width: 100%;
        border: 1px solid var(--db-field-border);
        border-radius: var(--db-radius-input-m);
        background-color: var(--db-field-bg);
        color: var(--db-field-text);
        transition: all var(--db-animation-speed) var(--db-animation-ease);
        outline: none;
        height: var(--db-size-input-m);
        box-sizing: border-box;

        &::placeholder {
            color: var(--db-field-placeholder);
        }

        &:hover:not(:disabled):not(:focus) {
            background-color: var(--db-field-bg-hover);
            border-color: var(--db-field-border-hover);
        }

        &:focus {
            border-color: var(--db-field-border-focus);
            box-shadow: 0 0 0 3px var(--color-aliases-brand-primary-alpha-10);
        }

        &:disabled {
            background-color: var(--db-field-bg-disabled);
            color: var(--db-field-text-disabled);
            cursor: not-allowed;
        }

        &:read-only {
            background-color: var(--db-surface-layer-1);
            color: var(--db-text-primary);
        }
    }

    &__start-icon,
    &__end-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--db-icon-muted);
        pointer-events: none;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__start-icon {
        left: var(--db-padding-xs);
    }

    &__end-icon {
        right: var(--db-padding-xs);
    }

    &__password-toggle {
        position: absolute;
        top: 50%;
        right: var(--db-padding-s);
        transform: translateY(-50%);
        background: none;
        border: none;
        color: var(--db-icon-muted);
        cursor: pointer;
        padding: var(--db-padding-xs);
        border-radius: var(--db-radius-s);
        transition: all var(--db-animation-speed) var(--db-animation-ease);
        z-index: 1;

        &:hover:not(:disabled) {
            color: var(--db-icon-hover);
            background-color: var(--db-surface-hover);
        }

        &:disabled {
            color: var(--db-icon-disabled);
            cursor: not-allowed;
        }

        &:focus-visible {
            outline: 2px solid var(--db-brand-primary);
            outline-offset: 2px;
        }
    }

    &__helper-text {
        font-size: var(--db-text-xs);
        color: var(--db-text-secondary);
        line-height: var(--db-leading-tight);
        margin: 0;
    }

    &__error-message {
        font-size: var(--db-text-xs);
        color: var(--db-text-error);
        line-height: var(--db-leading-tight);
        margin: 0;
    }

    // Sizes
    &--s {
        .designbase-input__field {
            padding: var(--db-padding-xs);
            font-size: var(--db-text-xs);
            line-height: var(--db-leading-normal);
            height: var(--db-size-input-s);
        }

        .designbase-input__start-icon,
        .designbase-input__end-icon {
            width: var(--db-size-icon-s);
            height: var(--db-size-icon-s);
        }

        &.designbase-input--with-start-icon .designbase-input__field {
            padding-left: calc(var(--db-padding-s) + 12px + var(--db-padding-xs));
        }

        &.designbase-input--with-end-icon .designbase-input__field {
            padding-right: calc(var(--db-padding-s) + 12px + var(--db-padding-xs));
        }
    }

    &--m {
        .designbase-input__field {
            padding: var(--db-padding-s);
            font-size: var(--db-text-s);
            line-height: var(--db-leading-normal);
            height: var(--db-size-input-m);
        }

        .designbase-input__start-icon,
        .designbase-input__end-icon {
            width: var(--db-size-icon-m);
            height: var(--db-size-icon-m);
        }

        &.designbase-input--with-start-icon .designbase-input__field {
            padding-left: calc(var(--db-padding-m) + 12px + var(--db-padding-xs));
        }

        &.designbase-input--with-end-icon .designbase-input__field {
            padding-right: calc(var(--db-padding-m) + 12px + var(--db-padding-xs));
        }
    }

    &--l {
        .designbase-input__field {
            padding: var(--db-padding-m);
            font-size: var(--db-text-base);
            line-height: var(--db-leading-normal);
            height: var(--db-size-input-l);
        }

        .designbase-input__start-icon,
        .designbase-input__end-icon {
            width: var(--db-size-icon-l);
            height: var(--db-size-icon-l);
        }

        .designbase-input__end-icon {
            right: var(--db-padding-s);
        }

        &.designbase-input--with-start-icon .designbase-input__field {
            padding-left: calc(var(--db-padding-l) + 16px + var(--db-padding-xs));
        }

        &.designbase-input--with-end-icon .designbase-input__field {
            padding-right: calc(var(--db-padding-l) + 16px + var(--db-padding-xs));
        }
    }

    // States
    &--error {
        .designbase-input__field {
            border-color: var(--db-field-border-error);

            &:focus {
                border-color: var(--db-field-border-error);
                box-shadow: 0 0 0 3px var(--color-aliases-brand-primary-alpha-10);
            }
        }
    }

    &--disabled {
        .designbase-input__field {
            background-color: var(--db-field-bg-disabled);
            color: var(--db-field-text-disabled);
            cursor: not-allowed;
        }

        .designbase-input__start-icon,
        .designbase-input__end-icon {
            color: var(--db-icon-disabled);
        }
    }

    &--readonly {
        .designbase-input__field {
            background-color: var(--db-surface-layer-1);
            color: var(--db-text-primary);
        }
    }

    &--full-width {
        width: 100%;
    }

    &--with-start-icon {
        .designbase-input__field {
            padding-left: calc(var(--db-input-padding-x) + var(--db-input-icon-size) + var(--db-input-icon-gap));
        }
    }

    &--with-end-icon {
        .designbase-input__field {
            padding-right: calc(var(--db-input-padding-x) + var(--db-input-end-space));
        }
    }

    &--with-password-toggle {
        --db-input-end-space: var(--db-input-toggle-size);
    }
}